body {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

select {
	-webkit-appearance: menulist-button;
}

.header-container {
	margin: auto;
	width: 900px;
}

.header {
	font-weight: 100;
	letter-spacing: 0.4em;
	text-transform: lowercase;
	text-align: left;
}

.hidden, .collapsed {
	display: none !important;
}

.btn-label {
	text-align: left;
	width: 260px;
	display: block;
	margin: 0 auto 12px;
	font-size: 12;
	color: #999;
	font-weight: 100;
	letter-spacing: 0.4em;
	position: absolute;
	top: -26px;
}

.label {
	position: absolute;
	left: 0;
	top: 20px;
	width: 100%;
}

.content {
	margin: 150px auto;
	width: 900px;
}

.sub-content {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

#outputContainer {
	text-align: left;
	margin-top: -20px;
}

.sub-header {
	font-weight: 100;
	letter-spacing: 0.2em;
}

.dropdown-option {
	padding: 10px 0;
}

.btn {
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 4px;
	color: #98B1BE;
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 0 26px;
	letter-spacing: 0.2em;
	font-size: 16px;
	font-weight: 100;
	height: 60px;
	text-align: center;
	text-transform: uppercase;
	width: 260px;
	transition: border-color 0.15s ease-out, color 0.25s ease-out;
}

.btn:hover {
	border-color: #555;
	color: #555;
	cursor: pointer;
}

.input-container, .test-input-container {
	position: relative;
	width: 260px;
	cursor: pointer;
}

#categoryDropdown {
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0 2px 1px 0 rgba(0,0,0,0.15), 0 1px 4px 0 rgba(0,0,0,0.1);
	display: block;
	left: -1px;
	padding: 5px 0;
	position: absolute;
	top: -1px;
	width: 100%;
	z-index: 10;
	border-color: #CCC;
	color: #98B1BE;
}

#categoryDropdown:hover {
	border-color: #CCC;
	color: #98B1BE;
}

.dropdown-option:hover {
	background-color: #F7F7F7;
	color: #555;
}

#testInput, #uploadInput, #categoryInput {
	cursor: pointer;
	display: block;
	height: 60px;
	opacity: 0;
	position: relative;
	width: 260px;
}

#fileInfo {
	font-size: 10px;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -19px;
	text-align: left;
}

#educateButton, #testButton {
	margin-top: 100px;
}

#categoryInput {
	z-index: -1;
}

#uploadInput, #testInput {
	z-index: 10;
}

#uploadInputButton {
	left: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

#fileName, #entryCount {
	display: block;
}

#fileName {
	text-align: left;
	margin-bottom: 14px;
	font-weight: 300;
	letter-spacing: 0.11em;
	font-size: 22px;
	vertical-align: top;
}

#entryCount {
	font-weight: 300;
	letter-spacing: 0.20em;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 45px;
}

#categoryName {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.06em;
}

#categoryResults {
	max-height: 400px;
	overflow-y: auto;
}

#categoryResults > span {
	display: inline-block;
	padding: 10px 0;
	font-size: 12px;
	font-weight: 300;
	max-width: 100px;
	min-width: 100px;
	padding-right: 30px
}